{
  "openapi": "3.0.0",
  "x-stoplight": {
    "id": "v3t7owhh461u5"
  },
  "servers": [
    {
      "url": "https://uat1.billdesk.com/u2",
      "description": "UAT server"
    },
    {
      "url": "https://api.billdesk.com",
      "description": "PROD server"
    }
  ],
  "info": {
    "title": "Payments",
    "description": "This explorer allows merchants to evaluate APIs that are available in the BillDesk Payment Gateway API suite.\n - Only HMAC authentication is supported.\n - All APIs are RESTful and resource oriented.\n - Servers listed are applicable for the API explorer only.",
    "contact": {
      "name": "API Support",
      "url": "https://www.billdesk.com/helpcenter.htm",
      "email": "support@billdesk.com"
    },
    "version": "2.5"
  },
  "x-samples-languages": [
    "shell",
    "json",
    "node",
    "java",
    "csharp"
  ],
  "paths": {
    "/payments/ve1_2/orders/create": {
      "post": {
        "summary": "Create Order",
        "operationId": "createOrder",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "objectid": "order",
                      "mercid": "BDMERCID",
                      "amount": "300.00",
                      "ru": "https://www.demourlmerchant.com/response",
                      "orderid": "6yn4uhuz9e9bcw9qo6r6v4",
                      "order_date": "2020-08-17T15:19:00+0530",
                      "bdorderid": "OAFC19XTFD8TSP",
                      "additional_info": {
                        "additional_info1": "Details1",
                        "additional_info2": "Details2"
                      },
                      "next_step": "redirect",
                      "itemcode": "DIRECT",
                      "createdon": "2021-03-11T19:23:24+05:30",
                      "currency": "356",
                      "links": [
                        {
                          "method": "GET",
                          "rel": "self",
                          "href": "https://www.sampleurl.com/request"
                        },
                        {
                          "headers": {
                            "authorization": "OToken DEDC1071B77800A146B6E8D2530E0429E76520C151B40CC3325D8B6D9242CBA3A6BFA643E7E5596FBEBAE0F46A1FB1BCD099EBC1F59DCD82F390B6BC45FCE036F37F7F589BD687A691E1378F1FF432331C62E7E641E857C8F8A405A4BFE2F01B1EB8F3C69817D45F5DDE9DEE346ACABA1B7208DECA9E43CCE7AB3761553E23D9CB36A870C1819C15C7C4B1CFE2802DFD05F651AA537AB81787.4145535F55415431"
                          },
                          "valid_date": "2020-08-17T15:49:00+05:30",
                          "method": "POST",
                          "rel": "redirect",
                          "href": "https://www.billdesk.com/pgi/MerchantPayment/",
                          "parameters": {
                            "mercid": "BDMERCID",
                            "bdorderid": "OAFC19XTFD8TSP"
                          }
                        }
                      ],
                      "status": "ACTIVE",
                      "invoice": {
                        "invoice_number": "MEINVU111111221133",
                        "invoice_display_number": "11221133",
                        "customer_name": "John Doe",
                        "invoice_date": "2021-09-03T13:21:50+05:30",
                        "gst_details": {
                          "cgst": "8.00",
                          "sgst": "8.00",
                          "igst": "0.00",
                          "gst": "16.00",
                          "cess": "0.00",
                          "gstincentive": "5.00",
                          "gstpct": "16.00",
                          "gstin": "12344567"
                        }
                      },
                      "device": {
                        "accept_header": "text/html",
                        "ip": "202.149.208.92",
                        "fingerprintid": "61b12c18b5d0cf901be34a23ca64bb19",
                        "imei": "990000112233445",
                        "init_channel": "internet",
                        "mac": "11-AC-58-21-1B-AA",
                        "user_agent": "Mozilla/5.0 (Windows NT 10.0; WOW64; rv:51.0) Gecko/20100101 Firefox/51.0"
                      }
                    }
                  },
                  "properties": {
                    "objectid": {
                      "title": "objectid",
                      "x-stoplight": {
                        "id": "bbwm8bhhbqd4r"
                      },
                      "type": "string",
                      "description": "String representing the object's type. Objects of the same type share the same value. ",
                      "enum": [
                        "transaction",
                        "authentication",
                        "mandate",
                        "invoice",
                        "cardaccount",
                        "validatevpa",
                        "dispute",
                        "settlement",
                        "altid",
                        "mandate_token",
                        "accountvalidation",
                        "refund"
                      ]
                    },
                    "mercid": {
                      "title": "mercid",
                      "x-stoplight": {
                        "id": "43ns25lu1fyuc"
                      },
                      "type": "string",
                      "pattern": "^[A-Za-z0-9]{1,10}$",
                      "example": "BDMERCID",
                      "description": "Unique identifier as defined by BillDesk for each merchant"
                    },
                    "amount": {
                      "title": "amount",
                      "x-stoplight": {
                        "id": "s5xd8bwxp2orm"
                      },
                      "type": "string",
                      "pattern": "^([1-9]{1}[0-9]{0,7}(\\.[0-9]{1,2})?)$",
                      "example": "299.28",
                      "description": "Transaction amount in two decimals, eg. 299.28"
                    },
                    "ru": {
                      "title": "return URL",
                      "x-stoplight": {
                        "id": "2nnmkccdq26ck"
                      },
                      "type": "string",
                      "example": "https://www.merchant.com",
                      "pattern": "=^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;{]*[-a-zA-Z0-9+&@#/%=~_|} ]{1,2000}$",
                      "description": "Merchants URL where the customer will be redirected after a transaction is completed"
                    },
                    "orderid": {
                      "title": "orderid",
                      "x-stoplight": {
                        "id": "lmwrwf7xn6wq8"
                      },
                      "type": "string",
                      "description": "Unique ID generated by the merchant for each request",
                      "pattern": "^[-/~A-Za-z0-9\\_ \\:.,#@!\\\\*\\\\+]{1,120}$",
                      "example": "TEST0000009005"
                    },
                    "order_date": {
                      "type": "string",
                      "description": "Merchant order generation date and time in YYYY-MM-DDThh:mm:ssTZD format",
                      "example": "2023-03-14T15:14:39+05:30",
                      "format": "date-time"
                    },
                    "bdorderid": {
                      "title": "bdorderid",
                      "x-stoplight": {
                        "id": "m13q2fo7bn801"
                      },
                      "type": "string",
                      "description": "Unique value generated by BillDesk for each order id generated using Create Order API"
                    },
                    "next_step": {
                      "title": "next_step",
                      "x-stoplight": {
                        "id": "ayox9qr52qx6o"
                      },
                      "type": "string",
                      "description": "Refers to the action to be taken by the merchant, for eg. redirect or capture_otp",
                      "enum": [
                        "redirect",
                        "capture_otp",
                        "3ds2_challenge",
                        "3ds2_frictionless"
                      ]
                    },
                    "itemcode": {
                      "title": "item code",
                      "x-stoplight": {
                        "id": "tz16mo44yvoae"
                      },
                      "type": "string",
                      "description": "Itemcode value as provided by BillDesk, with a default value DIRECT",
                      "example": "DIRECT",
                      "pattern": "^[A-Za-z0-9]{1,20}$"
                    },
                    "createdon": {
                      "title": "createdon",
                      "x-stoplight": {
                        "id": "k3ewegvbimz0g"
                      },
                      "type": "string",
                      "description": "object creation timestamp",
                      "format": "date-time"
                    },
                    "currency": {
                      "title": "currency",
                      "x-stoplight": {
                        "id": "1ehjh4f7vidz7"
                      },
                      "type": "string",
                      "description": "ISO currency code of the transaction amount, for INR this value will be 356"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "rel": {
                            "type": "string"
                          },
                          "href": {
                            "type": "string"
                          },
                          "headers": {
                            "type": "object",
                            "properties": {
                              "authorization": {
                                "title": "authorization",
                                "x-stoplight": {
                                  "id": "7j04iqr3yp3z3"
                                },
                                "type": "string",
                                "description": "Unique value generated by BillDesk for each request"
                              }
                            }
                          },
                          "valid_date": {
                            "type": "string"
                          },
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "mercid": {
                                "title": "mercid",
                                "x-stoplight": {
                                  "id": "43ns25lu1fyuc"
                                },
                                "type": "string",
                                "pattern": "^[A-Za-z0-9]{1,10}$",
                                "example": "BDMERCID",
                                "description": "Unique identifier as defined by BillDesk for each merchant"
                              },
                              "bdorderid": {
                                "title": "bdorderid",
                                "x-stoplight": {
                                  "id": "m13q2fo7bn801"
                                },
                                "type": "string",
                                "description": "Unique value generated by BillDesk for each order id generated using Create Order API"
                              },
                              "rdata": {
                                "title": "rdata",
                                "x-stoplight": {
                                  "id": "lftrd03d82vvp"
                                },
                                "type": "string",
                                "description": "Unique key generated by BillDesk for each request",
                                "x-examples": {}
                              }
                            }
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ACTIVE"
                      ],
                      "description": "Represents the status of the order, with the following possible values:\n•\tACTIVE"
                    },
                    "invoice": {
                      "type": "object",
                      "x-examples": {
                        "Example 1": {
                          "invoice_number": "MEINVU111111221133",
                          "invoice_display_number": "11221133",
                          "customer_name": "John Doe",
                          "invoice_date": "2021-09-03T13:21:50+05:30",
                          "gst_details": {
                            "cgst": "8.00",
                            "sgst": "8.00",
                            "igst": "0.00",
                            "gst": "16.00",
                            "cess": "0.00",
                            "gstincentive": "5.00",
                            "gstpct": "16.00",
                            "gstin": "12344567"
                          }
                        }
                      },
                      "properties": {
                        "invoice_number": {
                          "type": "string",
                          "description": "Unique number assigned by merchant for the invoice",
                          "pattern": "^[A-Za-z0-9]{1,100}$",
                          "example": "MEINVU111111221133"
                        },
                        "invoice_display_number": {
                          "type": "string",
                          "description": "Invoice number to be displayed to the customer",
                          "example": "11221133",
                          "pattern": "^[A-Za-z0-9]{1,80}$"
                        },
                        "customer_name": {
                          "type": "string",
                          "pattern": "^[A-Za-z0-9]{1,80}$",
                          "example": "John Doe",
                          "description": "Customer's name to be printed on invoice"
                        },
                        "invoice_date": {
                          "type": "string",
                          "description": "Invoice generation date in the YYYYMMDD format",
                          "format": "date",
                          "example": "2021-09-03"
                        },
                        "gst_details": {
                          "type": "object",
                          "properties": {
                            "cgst": {
                              "type": "string",
                              "pattern": "^([0-9]{1}[0-9]{0,7}(\\\\.[0-9]{1,2})?)$",
                              "example": "100.00"
                            },
                            "sgst": {
                              "type": "string",
                              "pattern": "^([0-9]{1}[0-9]{0,7}(\\\\.[0-9]{1,2})?)$",
                              "example": "100.00"
                            },
                            "igst": {
                              "type": "string",
                              "example": "200.00",
                              "pattern": "^([0-9]{1}[0-9]{0,7}(\\\\.[0-9]{1,2})?)$"
                            },
                            "gst": {
                              "type": "string"
                            },
                            "cess": {
                              "type": "string",
                              "pattern": "^([0-9]{1}[0-9]{0,7}(\\\\.[0-9]{1,2})?)$",
                              "example": "50.00"
                            },
                            "gstincentive": {
                              "type": "string",
                              "pattern": "^([0-9]{1}[0-9]{0,7}(\\\\.[0-9]{1,2})?)$"
                            },
                            "gstpct": {
                              "type": "string",
                              "pattern": "^([0-9]{1}[0-9]{0,7}(\\\\.[0-9]{1,2})?)$"
                            },
                            "gstin": {
                              "type": "string",
                              "pattern": "^[A-Za-z0-9]{1,80}$",
                              "example": "29GGGGG1314R9Z6"
                            }
                          }
                        }
                      }
                    },
                    "split_payment": {
                      "type": "object",
                      "x-examples": {
                        "Example 1": {
                          "split_payment": [
                            {
                              "mercid": "BDMERCID1",
                              "amount": "3000.00"
                            },
                            {
                              "mercid": "BDMERCID2",
                              "amount": "1000.00"
                            }
                          ]
                        }
                      },
                      "properties": {
                        "mercid": {
                          "type": "string",
                          "description": "Merchant ID provided by BillDesk where split payment amount will be settled.",
                          "pattern": "^[A-Za-z0-9]{1,10}$",
                          "example": "BDMERCID"
                        },
                        "amount": {
                          "type": "string",
                          "description": "Split Amount which is settled in the respective Split Merchant ID.",
                          "pattern": "^([1-9]{1}[0-9]{0,7}(\\.[0-9]{1,2})?)$",
                          "example": "299.28"
                        }
                      },
                      "description": "This object is applicable in case a merchant has opted to receive the settlement in multiple settlement accounts",
                      "title": "split_payment_request"
                    },
                    "mandate": {
                      "type": "object",
                      "properties": {
                        "objectid": {
                          "type": "string"
                        },
                        "mercid": {
                          "type": "string"
                        },
                        "customer_refid": {
                          "type": "string"
                        },
                        "subscription_refid": {
                          "type": "string"
                        },
                        "subscription_desc": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string"
                        },
                        "amount_type": {
                          "type": "string"
                        },
                        "start_date": {
                          "type": "string"
                        },
                        "end_date": {
                          "type": "string"
                        },
                        "frequency": {
                          "type": "string"
                        },
                        "payment_method_type": {
                          "type": "string"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "mandateid": {
                          "type": "string"
                        },
                        "createdon": {
                          "type": "string"
                        },
                        "verification_error_code": {
                          "type": "string"
                        },
                        "verification_error_type": {
                          "type": "string"
                        },
                        "verification_error_desc": {
                          "type": "string"
                        }
                      },
                      "x-examples": {
                        "Example 1": {
                          "objectid": "mandate",
                          "mercid": "BDMERCID",
                          "customer_refid": "CUSTREF00A00011",
                          "subscription_refid": "SUBREF00A00011",
                          "subscription_desc": "Family Plan",
                          "amount": "1500.00",
                          "amount_type": "maximum",
                          "start_date": "2021-05-16",
                          "end_date": "2029-10-22",
                          "frequency": "adho",
                          "payment_method_type": "card",
                          "currency": "356",
                          "status": "pending",
                          "mandateid": "MA0DDD00050243",
                          "createdon": "2021-05-16T18:23:11+05:30",
                          "verification_error_code": "TRS0000",
                          "verification_error_type": "success",
                          "verification_error_desc": "Transaction Successful"
                        }
                      }
                    },
                    "additional_info": {
                      "type": "object",
                      "x-examples": {
                        "Example 1": {
                          "additional_info": {
                            "additional_info1": "Details1",
                            "additional_info2": "Details2",
                            "additional_info3": "Details3",
                            "additional_info4": "Details4",
                            "additional_info5": "Details5",
                            "additional_info6": "Details6",
                            "additional_info7": "Details7",
                            "additional_info8": "Details8",
                            "additional_info9": "Details9",
                            "additional_info10": "Details10"
                          }
                        }
                      },
                      "description": "Array of 7 additional_info values that can be attached to\nthe transaction.\nNote: Merchant is advised to not pass customer PII\ninformation in additional info fields.",
                      "properties": {
                        "additional_info1": {
                          "type": "string",
                          "example": "Details1"
                        },
                        "additional_info2": {
                          "type": "string",
                          "example": "Details2"
                        },
                        "additional_info3": {
                          "type": "string",
                          "example": "Details3"
                        },
                        "additional_info4": {
                          "type": "string",
                          "example": "Details4"
                        },
                        "additional_info5": {
                          "type": "string",
                          "example": "Details5"
                        },
                        "additional_info6": {
                          "type": "string",
                          "example": "Details6"
                        },
                        "additional_info7": {
                          "type": "string",
                          "example": "Details7"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Create order": {
                    "value": {
                      "mercid": "BDMERCID",
                      "amount": "29999.28",
                      "ru": "https://www.merchant.com",
                      "orderid": "TEST00000090060",
                      "createdon": "2023-11-22T15:43:54+05:30",
                      "order_date": "2023-03-25T15:14:39+05:30",
                      "bdorderid": "OAKU2U0V4C6B",
                      "next_step": "redirect",
                      "itemcode": "DIRECT",
                      "currency": "356",
                      "links": [
                        {
                          "method": "GET",
                          "rel": "self",
                          "href": "https://www.some url.com/demo/TEST00000090060"
                        },
                        {
                          "headers": {
                            "authorization": "OToken 47e627dddab9f33066a808b2e5d68c13d9a76b942bb36da8f2d823b9b1b7ed3ed5eb90bce16c75c15aa042ecd6b2adf33f9984b60183071133bad1702d7463b18fa46bed1346a1320675ea61f219d1725f5b6031b57bb860ea8f817cfc860faa91ad89041a66eb5b7776c94cf9f4309928a816a9bbbea5e6357d695aac1af458ceb21956323324a1b0a5eff043e6ef716a7c71c3444aab90a85154aadf6fde399db352a2ee6a.70675f706172616d5f656e6331"
                          },
                          "valid_date": "2023-11-22T16:13:54+05:30",
                          "method": "POST",
                          "rel": "redirect",
                          "href": "https://www.some url.com/demo",
                          "parameters": {
                            "mercid": "BDMERCID",
                            "bdorderid": "OAKU2U0V4C6B",
                            "rdata": "d7f81c024aef396a80f32c876a1f 60017f4ac50a75cf2a663cd6a81e8c8 37e9912cbf49aac6be28f98d19c1e16 0f7b88a6e730e736f0dc52c82689e70 b55.7561746b657931"
                          }
                        }
                      ],
                      "objectid": "order",
                      "status": "ACTIVE"
                    }
                  },
                  "Create order with split payment": {
                    "value": {
                      "objectid": "order",
                      "orderid": "UAT1002202300001",
                      "bdorderid": "OAZG19XTTEVQSS",
                      "mercid": "BDMERCID",
                      "order_date": "2023-02- 09T10:00:45+05:30",
                      "amount": "4000.00",
                      "currency": "356",
                      "ru": "https://www.merchanturl.com/",
                      "additional_info": {
                        "additional_info1": "NA",
                        "additional_info2": "NA"
                      },
                      "itemcode": "DIRECT",
                      "split_payment": [
                        {
                          "mercid": "BDMERCID1",
                          "amount": "3000.00"
                        },
                        {
                          "mercid": "BDMERCID2",
                          "amount": "1000.00"
                        }
                      ],
                      "createdon": "2023-02- 10T00:19:42+05:30",
                      "next_step": "redirect",
                      "links": [
                        {
                          "href": "https://www.some url.com/demo",
                          "rel": "self",
                          "method": "GET"
                        },
                        {
                          "href": "https://www.redirecturl.io/form",
                          "rel": "redirect",
                          "method": "POST",
                          "parameters": {
                            "mercid": "BDMERCID ",
                            "bdorderid": "OAZG19XTTEVQSS",
                            "rdata": "3e35f44cf9acd6a683d5c43b71b37f6ea6ae0fc7dbe227c1ea961e7011c6c4aebe5ceaa584c53ba8fc6bff05ec78ab552c58e1ef77ac20f719ac3c0c468df044.7561746b657931"
                          },
                          "valid_date": "2023-02- 10T00:49:42+05:30",
                          "headers": {
                            "authorization": "O Token 8A20A6DF3BD7957AFC66FC562DED0D8B5966FB2C464E962E0BCADDB8B67F625169D9524423D9A36BC80282904EA6D49ACEECB2AA72B8C8CB4F187ECC9A35D39C3FE770A0B6EBC4EF38CC1F42CE4BCA744875E1152E0EFBDA01F02F3822DD8283E985105A146DD7D8C378106F08E628023ED459C579A10120182E3836ACF543A6922FC81C7682BB5E56B155FD47AC3F9FB18780EDFAFD1982F4.4145535F55415431"
                          }
                        }
                      ],
                      "status": "ACTIVE"
                    }
                  },
                  "Create order with Mandate": {
                    "value": {
                      "objectid": "order",
                      "orderid": "order45608988",
                      "bdorderid": "OAMA19XU6FRZTC",
                      "mercid": "BDMERCID",
                      "order_date": "2024-01-30T10: 59: 15+05: 30",
                      "amount": "300.00",
                      "currency": "356",
                      "ru": "https://www.merchant.com/",
                      "additional_info": {
                        "additional_info1": "Details1",
                        "additional_info2": "Details2",
                        "additional_info3": "NA",
                        "additional_info4": "NA",
                        "additional_info5": "NA",
                        "additional_info6": "NA",
                        "additional_info7": "NA"
                      },
                      "itemcode": "DIRECT",
                      "createdon": "2024-02-11T21: 54: 56+05: 30",
                      "next_step": "redirect",
                      "links": [
                        {
                          "href": "https://www.billdesk.com/pgi/ve1_2/orders/order45608988",
                          "rel": "self",
                          "method": "GET"
                        },
                        {
                          "href": "https://uat1.billdesk.com/u2/web/v1_2/embeddedsdk ",
                          "rel": "redirect",
                          "method": "POST",
                          "parameters": {
                            "mercid": "BDMERCID",
                            "bdorderid": "OAMA19XU6FRZTC",
                            "rdata": "8F143FB859C8F0C5CB14CA2718CA56BC9CB61766DC0B1CB2173305D94A9B664DEF08964B55A3D4CFA99D7D45B16F02EE8613C720626BD6A6E3F49377B6C49C5.4145535F55415431"
                          },
                          "valid_date": "2024-02-12T02: 54: 56+05: 30",
                          "headers": {
                            "authorization": "OToken E88302C05CC3EF626619DC152DF3C6C305CE416F88B47E623763C2438E958150D0128314AE937C79A6C41F3F5513A0FB8F8C9358D970287D8CD6A0AED670BD833F94825D4FAA9BC6DE48EA16BABD2218F81481EA54688BEEC1AB35AC6C959CFC085D91B78C96582C2CFE001457E697344188B821C469B4ED0051AB334EB7395E6D07CFB235712C248C95CA082E7F89C8E28748BEF310612.4145535F55415431"
                          }
                        }
                      ],
                      "mandate": {
                        "mercid": "BDMERCID",
                        "customer_refid": "cust9199028201",
                        "subscription_refid": "Sub92882992782701",
                        "subscription_desc": "Term insurance",
                        "amount": "200.00",
                        "amount_type": "max",
                        "start_date": "2024-02-11",
                        "end_date": "2025-12-04",
                        "frequency": "year",
                        "currency": "356",
                        "status": "initiated",
                        "mandate_tokenid": "NA23DB00429155",
                        "recurrence_rule": "after",
                        "debit_day": "1",
                        "createdon": "2024-02-11T21: 54: 56+05: 30"
                      },
                      "status": "ACTIVE"
                    }
                  }
                }
              }
            },
            "headers": {
              "BD-Traceid": {
                "schema": {
                  "type": "string"
                },
                "description": "BD-TraceID is a unique identifier passed by the merchant to ensure request idempotency. Requests with identical BD-TraceID within a 24 hour window would fail."
              },
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "description": "Request Content-Type to take the values application/jose"
              },
              "Accept": {
                "schema": {
                  "type": "string"
                },
                "description": "Accept Response Content-Type to take the values application/jose"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "This will be same as HTTP response code"
                    },
                    "error_type": {
                      "type": "string",
                      "description": "This indicates of the category of errors that could be encountered, for e.g. validation_error, api_connection_error, etc."
                    },
                    "error_code": {
                      "type": "string",
                      "description": "Under the error_type, there could be different error_codes that could be returned depending upon the API and the underlying interaction"
                    },
                    "message": {
                      "type": "string",
                      "description": "More details as a description for the error_code"
                    }
                  }
                },
                "examples": {
                  "Forbidden": {
                    "value": {
                      "status": 403,
                      "error_type": "inaccessable_resource_error",
                      "error_code": "GNIAE0002",
                      "message": "Access forbidden"
                    }
                  }
                }
              }
            },
            "headers": {
              "BD-Traceid": {
                "schema": {
                  "type": "string"
                },
                "description": "BD-TraceID is a unique identifier passed by the merchant to ensure request idempotency. Requests with identical BD-TraceID within a 24 hour window would fail."
              },
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "description": "Request Content-Type to take the values application/jose"
              },
              "Accept": {
                "schema": {
                  "type": "string"
                },
                "description": "Accept Response Content-Type to take the values application/jose"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "This will be same as HTTP response code"
                    },
                    "error_type": {
                      "type": "string",
                      "description": "This indicates of the category of errors that could be encountered, for e.g. validation_error, api_connection_error, etc."
                    },
                    "error_code": {
                      "type": "string",
                      "description": "Under the error_type, there could be different error_codes that could be returned depending upon the API and the underlying interaction"
                    },
                    "message": {
                      "type": "string",
                      "description": "More details as a description for the error_code"
                    }
                  }
                },
                "examples": {
                  "Internal Server Error": {
                    "value": {
                      "status": 500,
                      "error_type": "api_processing_error",
                      "error_code": "AUAPE0001",
                      "message": "Internal server error"
                    }
                  }
                }
              }
            },
            "headers": {
              "BD-Traceid": {
                "schema": {
                  "type": "string"
                },
                "description": "BD-TraceID is a unique identifier passed by the merchant to ensure request idempotency. Requests with identical BD-TraceID within a 24 hour window would fail."
              },
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "description": "Request Content-Type to take the values application/jose"
              },
              "Accept": {
                "schema": {
                  "type": "string"
                },
                "description": "Accept Response Content-Type to take the values application/jose"
              }
            }
          },
          "default": {
            "description": "Any bad or invalid request will lead to following error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "This will be same as HTTP response code"
                    },
                    "error_type": {
                      "type": "string",
                      "description": "This indicates of the category of errors that could be encountered, for e.g. validation_error, api_connection_error, etc."
                    },
                    "error_code": {
                      "type": "string",
                      "description": "Under the error_type, there could be different error_codes that could be returned depending upon the API and the underlying interaction"
                    },
                    "message": {
                      "type": "string",
                      "description": "More details as a description for the error_code"
                    }
                  }
                },
                "examples": {
                  "Invalid merchant config": {
                    "value": {
                      "status": 422,
                      "error_type": "api_validation_error",
                      "error_code": "GNAVE0001",
                      "message": "Incorrect merchant configuration"
                    }
                  }
                }
              }
            },
            "headers": {
              "BD-Traceid": {
                "schema": {
                  "type": "string"
                },
                "description": "BD-TraceID is a unique identifier passed by the merchant to ensure request idempotency. Requests with identical BD-TraceID within a 24 hour window would fail."
              },
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "description": "Request Content-Type to take the values application/jose"
              },
              "Accept": {
                "schema": {
                  "type": "string"
                },
                "description": "Accept Response Content-Type to take the values application/jose"
              }
            }
          }
        },
        "tags": [
          "Order"
        ],
        "description": "This API can be used to initiate a payment or to set up a mandate along with a payment in the BillDesk Hosted Payment Page or BillDesk Web SDK workflow",
        "parameters": [
          {
            "in": "header",
            "name": "BD-Traceid",
            "description": "BD-TraceID is a unique identifier passed by the merchant to ensure request idempotency. Requests with identical BD-TraceID within a 24 hour window would fail.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "20201203182838"
            }
          },
          {
            "in": "header",
            "name": "BD-Timestamp",
            "description": "Request timestamp to identify date and time of origin of request. Example, a value of BD-Timestamp 20210113180403 identifies the request to have originated on 13th January 2021 at 06:04:03 PM.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "20201203182838"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "description": "Request Content-Type to take the values application/jose"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "application/jose"
            },
            "description": "Accept Response Content-Type to take the values application/jose"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orderid": {
                    "title": "orderid",
                    "x-stoplight": {
                      "id": "lmwrwf7xn6wq8"
                    },
                    "type": "string",
                    "description": "Unique ID generated by the merchant for each request",
                    "pattern": "^[-/~A-Za-z0-9\\_ \\:.,#@!\\\\*\\\\+]{1,120}$",
                    "example": "TEST0000009005"
                  },
                  "mercid": {
                    "title": "mercid",
                    "x-stoplight": {
                      "id": "43ns25lu1fyuc"
                    },
                    "type": "string",
                    "pattern": "^[A-Za-z0-9]{1,10}$",
                    "example": "BDMERCID",
                    "description": "Unique identifier as defined by BillDesk for each merchant"
                  },
                  "order_date": {
                    "type": "string",
                    "description": "Merchant order generation date and time in YYYY-MM-DDThh:mm:ssTZD format",
                    "example": "2023-03-14T15:14:39+05:30",
                    "format": "date-time"
                  },
                  "amount": {
                    "title": "amount",
                    "x-stoplight": {
                      "id": "s5xd8bwxp2orm"
                    },
                    "type": "string",
                    "pattern": "^([1-9]{1}[0-9]{0,7}(\\.[0-9]{1,2})?)$",
                    "example": "299.28",
                    "description": "Transaction amount in two decimals, eg. 299.28"
                  },
                  "currency": {
                    "title": "currency",
                    "x-stoplight": {
                      "id": "1ehjh4f7vidz7"
                    },
                    "type": "string",
                    "description": "ISO currency code of the transaction amount, for INR this value will be 356"
                  },
                  "ru": {
                    "title": "return URL",
                    "x-stoplight": {
                      "id": "2nnmkccdq26ck"
                    },
                    "type": "string",
                    "example": "https://www.merchant.com",
                    "pattern": "=^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;{]*[-a-zA-Z0-9+&@#/%=~_|} ]{1,2000}$",
                    "description": "Merchants URL where the customer will be redirected after a transaction is completed"
                  },
                  "itemcode": {
                    "title": "item code",
                    "x-stoplight": {
                      "id": "tz16mo44yvoae"
                    },
                    "type": "string",
                    "description": "Itemcode value as provided by BillDesk, with a default value DIRECT",
                    "example": "DIRECT",
                    "pattern": "^[A-Za-z0-9]{1,20}$"
                  },
                  "settlement_lob": {
                    "type": "string",
                    "description": "Settlement line of business preconfigured by BillDesk for funds settlement to merchant account"
                  },
                  "mandate_required": {
                    "type": "string",
                    "enum": [
                      "Y",
                      "N"
                    ],
                    "description": "Value which represents if the customer is to be givrn the option to not set a mandate on the BillDesk Hosted Payment Page or Web SDK. Applicable for the One time payment & Mandate workflow \n\nY- Represents that setting the Mandate is mandatory and the customer does not have an option to turn off the mandate\n\nN- Represents that setting the Mandate is optional and the customer has an option to turn off the mandate. In this case, a one time payment will be made without the mandate"
                  },
                  "customer": {
                    "title": "customer",
                    "x-examples": {
                      "Example 1": {
                        "first_name": "John",
                        "last_name": "Doe",
                        "mobile": "9800000000",
                        "mobile_alt": "9800000000",
                        "email": "john.doe@somedomain.com",
                        "email_alt": "john.doe@somedomain.com"
                      }
                    },
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "description": "Customer’s First Name",
                        "example": "John"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Customer’s Last Name",
                        "example": "Doe"
                      },
                      "mobile": {
                        "type": "string",
                        "description": "Customer’s Mobile number",
                        "pattern": "^[\\\\+]{0,1}[0-9]{5,15}$",
                        "example": "9022979988"
                      },
                      "mobile_alt": {
                        "type": "string",
                        "description": "Customer’s Alternate Mobile number",
                        "pattern": "^[\\\\+]{0,1}[0-9]{5,15}$",
                        "example": "9022979982"
                      },
                      "email": {
                        "type": "string",
                        "description": "Customer’s Email address",
                        "pattern": "^[_A-Za-z0-9-\\\\+]+(\\\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\\\.[A-Za-z0-9\\\\-]+)*(\\\\.[A-Za-z]{2,6})$",
                        "example": "abc@xyz.com"
                      },
                      "email_alt": {
                        "type": "string",
                        "description": "Customer’s alternate Email Address",
                        "example": "abc@xyz.com",
                        "pattern": "^[_A-Za-z0-9-\\\\+]+(\\\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\\\.[A-Za-z0-9\\\\-]+)*(\\\\.[A-Za-z]{2,6})$"
                      }
                    },
                    "required": [
                      "first_name",
                      "last_name"
                    ]
                  },
                  "avs": {
                    "type": "object",
                    "x-examples": {
                      "Example 1": {
                        "bankaccount": [
                          {
                            "number": "12233445566",
                            "ifsc": "IDBK10000002",
                            "name": "John Doe"
                          },
                          {
                            "number": "12233445567",
                            "ifsc": "IDBK10000002",
                            "name": "John Doe"
                          }
                        ]
                      }
                    },
                    "description": "This API can be used to verify the bank account number by initiating a penny drop to the account. For upi, validation is done at acquiring bank end ",
                    "title": "Account validation",
                    "properties": {
                      "bankaccounts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "description": "Customer's bank account number",
                              "title": "bankacc_number",
                              "x-stoplight": {
                                "id": "9nwo0pwlz0qos"
                              },
                              "type": "string",
                              "pattern": "^\\\\d{9,18}$",
                              "example": "12233445566"
                            },
                            "ifsc": {
                              "description": "IFSC of the bank account number",
                              "title": "IFSC",
                              "x-stoplight": {
                                "id": "grn65kr3i0pk0"
                              },
                              "type": "string",
                              "pattern": "^[A-Za-z]{4}[a-zA-Z0-9]{7}$",
                              "example": "IDBK10000002"
                            },
                            "name": {
                              "description": "Name of the bank account holder",
                              "title": "bankaccount_holder_name",
                              "x-stoplight": {
                                "id": "jedjceugzit8g"
                              },
                              "type": "string",
                              "example": "John Doe",
                              "pattern": "^[A-Za-z0-9\\\\s\\\\.'\\\\-\\\\~\\\\@\\\\_]{1,120}$"
                            }
                          },
                          "required": [
                            "number",
                            "ifsc"
                          ]
                        }
                      }
                    }
                  },
                  "device": {
                    "type": "object",
                    "x-stoplight": {
                      "id": "bu2ij616i2uce"
                    },
                    "x-examples": {
                      "Example 1": {
                        "device": {
                          "init_channel": "internet",
                          "ip": "124.124.1.1",
                          "mac": "11-AC-58-21-1B-AA",
                          "imei": "990000112233445",
                          "user_agent": "Mozilla/5.0(WindowsNT10.0;WOW64;rv:51.0)Gecko/20100101Firefox/51.0",
                          "accept_header": "text/html",
                          "fingerprintid": "61b12c18b5d0cf901be34a23ca64bb19",
                          "browser_tz": "-330",
                          "browser_color_depth": "32",
                          "browser_java_enabled": "false",
                          "browser_screen_height": "601",
                          "browser_screen_width": "657",
                          "browser_language": "en-US",
                          "browser_javascript_enabled": "true"
                        }
                      }
                    },
                    "title": "Device",
                    "description": "Device",
                    "properties": {
                      "init_channel": {
                        "type": "string",
                        "description": "Initiating channel,accepted values are internet,app or kiosk",
                        "enum": [
                          "internet",
                          "app",
                          "kiosk"
                        ]
                      },
                      "ip": {
                        "type": "string",
                        "description": "Actual end customer IP address is required to be passed",
                        "maxLength": 15
                      },
                      "user_agent": {
                        "type": "string",
                        "description": "Exact content of the HTTP user-agent header\n\nNote: If the total length of the User-Agent sent by the browser exceeds 2048 characters, truncate the excess portion",
                        "example": "Mozilla/5.0(WindowsNT10.0;WOW64;rv: 51.0)Gecko/20100101Firefox/51.0",
                        "pattern": "=^[A-Za-z0-9\\\\_\\\\:\\\\-\\\\,\\\\;\\\\/\\\\)\\\\(\\\\.\\\\s\\\\+\\\\[\\\\]\\\\=@]{10,255}$"
                      },
                      "accept_header": {
                        "type": "string",
                        "description": "Customer browser accept header values",
                        "maxLength": 255,
                        "example": "application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
                        "pattern": "^[0-9A-Za-z\\\\.\\\\+\\\\-\\\\/\\\\=\\\\*\\\\,\\\\;]{10,255}$"
                      }
                    },
                    "required": [
                      "init_channel",
                      "ip",
                      "user_agent",
                      "accept_header"
                    ]
                  },
                  "invoice": {
                    "type": "object",
                    "x-examples": {
                      "Example 1": {
                        "invoice_number": "MEINVU111111221133",
                        "invoice_display_number": "11221133",
                        "customer_name": "John Doe",
                        "invoice_date": "2021-09-03T13:21:50+05:30",
                        "gst_details": {
                          "cgst": "8.00",
                          "sgst": "8.00",
                          "igst": "0.00",
                          "gst": "16.00",
                          "cess": "0.00",
                          "gstincentive": "5.00",
                          "gstpct": "16.00",
                          "gstin": "12344567"
                        }
                      }
                    },
                    "properties": {
                      "invoice_number": {
                        "type": "string",
                        "description": "Unique number assigned by merchant for the invoice",
                        "pattern": "^[A-Za-z0-9]{1,100}$",
                        "example": "MEINVU111111221133"
                      },
                      "invoice_display_number": {
                        "type": "string",
                        "description": "Invoice number to be displayed to the customer",
                        "example": "11221133",
                        "pattern": "^[A-Za-z0-9]{1,80}$"
                      },
                      "customer_name": {
                        "type": "string",
                        "pattern": "^[A-Za-z0-9]{1,80}$",
                        "example": "John Doe",
                        "description": "Customer's name to be printed on invoice"
                      },
                      "invoice_date": {
                        "type": "string",
                        "description": "Invoice generation date in the YYYYMMDD format",
                        "format": "date",
                        "example": "2021-09-03"
                      },
                      "gst_details": {
                        "type": "object",
                        "properties": {
                          "cgst": {
                            "type": "string",
                            "pattern": "^([0-9]{1}[0-9]{0,7}(\\\\.[0-9]{1,2})?)$",
                            "example": "100.00"
                          },
                          "sgst": {
                            "type": "string",
                            "pattern": "^([0-9]{1}[0-9]{0,7}(\\\\.[0-9]{1,2})?)$",
                            "example": "100.00"
                          },
                          "igst": {
                            "type": "string",
                            "example": "200.00",
                            "pattern": "^([0-9]{1}[0-9]{0,7}(\\\\.[0-9]{1,2})?)$"
                          },
                          "gst": {
                            "type": "string"
                          },
                          "cess": {
                            "type": "string",
                            "pattern": "^([0-9]{1}[0-9]{0,7}(\\\\.[0-9]{1,2})?)$",
                            "example": "50.00"
                          },
                          "gstincentive": {
                            "type": "string",
                            "pattern": "^([0-9]{1}[0-9]{0,7}(\\\\.[0-9]{1,2})?)$"
                          },
                          "gstpct": {
                            "type": "string",
                            "pattern": "^([0-9]{1}[0-9]{0,7}(\\\\.[0-9]{1,2})?)$"
                          },
                          "gstin": {
                            "type": "string",
                            "pattern": "^[A-Za-z0-9]{1,80}$",
                            "example": "29GGGGG1314R9Z6"
                          }
                        }
                      }
                    }
                  },
                  "split_payment": {
                    "type": "object",
                    "x-examples": {
                      "Example 1": {
                        "split_payment": [
                          {
                            "mercid": "BDMERCID1",
                            "amount": "3000.00"
                          },
                          {
                            "mercid": "BDMERCID2",
                            "amount": "1000.00"
                          }
                        ]
                      }
                    },
                    "properties": {
                      "mercid": {
                        "type": "string",
                        "description": "Merchant ID provided by BillDesk where split payment amount will be settled.",
                        "pattern": "^[A-Za-z0-9]{1,10}$",
                        "example": "BDMERCID"
                      },
                      "amount": {
                        "type": "string",
                        "description": "Split Amount which is settled in the respective Split Merchant ID.",
                        "pattern": "^([1-9]{1}[0-9]{0,7}(\\.[0-9]{1,2})?)$",
                        "example": "299.28"
                      }
                    },
                    "description": "This object is applicable in case a merchant has opted to receive the settlement in multiple settlement accounts",
                    "title": "split_payment_request"
                  },
                  "mandate": {
                    "type": "object",
                    "x-examples": {
                      "Example 1": {
                        "mercid": "BDMERCID",
                        "customer_refid": "CUST614514520010012",
                        "subscription_refid": "SUB614514510012",
                        "subscription_desc": "Unlimited Plan",
                        "start_date": "2023-02-08",
                        "end_date": "2050-12-22",
                        "amount": "774.00",
                        "currency": "356",
                        "frequency": "adho",
                        "amount_type": "max"
                      }
                    },
                    "properties": {
                      "mercid": {
                        "type": "string",
                        "description": "Unique identifier as defined by BillDesk for each merchant",
                        "example": "BDMERCID",
                        "pattern": "^[A-Za-z0-9]{1,10}$"
                      },
                      "customer_refid": {
                        "type": "string",
                        "description": "Unique reference of the customer in the merchant system, and can be linked to different subscriptions of the same customer",
                        "pattern": "^[A-Za-z0-9\\\\_\\\\:\\\\-]{1,80}$",
                        "example": "CUSTREF00A00011"
                      },
                      "subscription_refid": {
                        "type": "string",
                        "description": "Unique reference assigned by merchant for the subscription",
                        "pattern": "^[A-Za-z0-9_-]{1,128}$",
                        "example": "SUBREF00A00011"
                      },
                      "subscription_desc": {
                        "type": "string",
                        "description": "Customer friendly description for the subscription, this narration is generally displayed to the customer at the issuer channel"
                      },
                      "start_date": {
                        "title": "start_date",
                        "x-stoplight": {
                          "id": "v7tyy2tfnut1w"
                        },
                        "type": "string",
                        "description": "Subscription start date in yyyy-mm-dd format\nNote: Should be greater than or equal to current date (IST timezone). \nNote for UPI : Should be equal to mandate creation date for UPI. In UPI, an subsequent charge is created on a successful mandate. This includes the first charge as well along with mandate creation. Since first charge is done immediately, it is important that the mandate “start_date” should be today’s date \n",
                        "format": "date",
                        "example": "2021-05-08"
                      },
                      "end_date": {
                        "title": "end_date",
                        "x-stoplight": {
                          "id": "uz968g6golwjt"
                        },
                        "type": "string",
                        "description": "Subscription end date in yyyy-mm-dd format\nNote: Should be greater than current date (IST timezone). For mandates that are valid ‘until cancelled’ by the customer, end_date year could be 2099, and for upi, maximum duration allowed for a mandate is 30 years",
                        "format": "date",
                        "example": "2059-12-31"
                      },
                      "amount": {
                        "type": "string",
                        "description": "Subscription amount in two decimals, eg. 2400.00",
                        "pattern": "^([1-9]{1}[0-9]{0,7}(\\.[0-9]{1,2})?)$",
                        "example": "200.28"
                      },
                      "currency": {
                        "type": "string",
                        "description": "ISO currency code for the amount, with a value 356 for INR",
                        "example": "356"
                      },
                      "frequency": {
                        "type": "string",
                        "description": "Frequency at which the subscription debits will be processed, possible values are:\n\n•\tweek - weekly\n•\tmnth - monthly\n•\tbimn – bi-monthly\n•\tqurt - quarterly\n•\tbian – bi-annually\n•\tyear - yearly\n•\tadho – adhoc\n\n",
                        "enum": [
                          "mnth",
                          "week",
                          "bimn",
                          "qurt",
                          "bian",
                          "year",
                          "adho"
                        ],
                        "example": "adho"
                      },
                      "amount_type": {
                        "title": "amount_type",
                        "x-stoplight": {
                          "id": "o7dqaslkupvxa"
                        },
                        "type": "string",
                        "description": "Indicates whether subscription amount is fixed or has a maximum limit. The following values are possible\n•\tmaximum - indicates the maximum amount that can be charged for the subscription\n•\tfixed – indicates the fixed amount to be charged for the subscription\nPlease note: For upi, only \"maximum\" is allowed. This is required to allow for token debit (small value transaction)\n",
                        "enum": [
                          "maximum",
                          "fixed"
                        ]
                      },
                      "recurrence_rule": {
                        "title": "recurrence_rule",
                        "x-stoplight": {
                          "id": "mzu48wk4tb3i8"
                        },
                        "type": "string",
                        "description": "Note: Required only where payment_method_type = upi. Default value : 'after'\n",
                        "enum": [
                          "after"
                        ]
                      },
                      "debit_day": {
                        "title": "debit_day",
                        "x-stoplight": {
                          "id": "ppp2ede7qx3fc"
                        },
                        "type": "string",
                        "description": "Required only where payment_method_type = upi. Default value \"1\" to be passed\n",
                        "pattern": "^\\\\d{1,2}$",
                        "example": "1",
                        "enum": [
                          "1"
                        ]
                      }
                    },
                    "required": [
                      "mercid",
                      "customer_refid",
                      "subscription_refid",
                      "subscription_desc",
                      "start_date",
                      "end_date",
                      "amount",
                      "currency",
                      "frequency",
                      "amount_type"
                    ]
                  },
                  "additional_info": {
                    "type": "object",
                    "x-examples": {
                      "Example 1": {
                        "additional_info": {
                          "additional_info1": "Details1",
                          "additional_info2": "Details2",
                          "additional_info3": "Details3",
                          "additional_info4": "Details4",
                          "additional_info5": "Details5",
                          "additional_info6": "Details6",
                          "additional_info7": "Details7",
                          "additional_info8": "Details8",
                          "additional_info9": "Details9",
                          "additional_info10": "Details10"
                        }
                      }
                    },
                    "description": "Array of 7 additional_info values that can be attached to\nthe transaction.\nNote: Merchant is advised to not pass customer PII\ninformation in additional info fields.",
                    "properties": {
                      "additional_info1": {
                        "type": "string",
                        "example": "Details1"
                      },
                      "additional_info2": {
                        "type": "string",
                        "example": "Details2"
                      },
                      "additional_info3": {
                        "type": "string",
                        "example": "Details3"
                      },
                      "additional_info4": {
                        "type": "string",
                        "example": "Details4"
                      },
                      "additional_info5": {
                        "type": "string",
                        "example": "Details5"
                      },
                      "additional_info6": {
                        "type": "string",
                        "example": "Details6"
                      },
                      "additional_info7": {
                        "type": "string",
                        "example": "Details7"
                      }
                    }
                  }
                },
                "required": [
                  "orderid",
                  "mercid",
                  "order_date",
                  "amount",
                  "currency",
                  "ru",
                  "itemcode"
                ]
              },
              "examples": {
                "Create order": {
                  "value": {
                    "orderid": "TEST00000090061",
                    "mercid": "BDMERCID",
                    "order_date": "2023-03-25T15:14:39+05:30",
                    "amount": "29999.28",
                    "currency": "356",
                    "ru": "https://www.merchant.com",
                    "itemcode": "DIRECT",
                    "device": {
                      "init_channel": "internet",
                      "ip": "123.0.0.1",
                      "user_agent": "Mozilla/5.0(WindowsNT10.0;WOW64;rv: 51.0)Gecko/20100101Firefox/51.0",
                      "accept_header": "application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9"
                    }
                  }
                },
                "Create order with split payment": {
                  "value": {
                    "device": {
                      "init_channel": "internet",
                      "ip": "136.232.199.34",
                      "user_agent": "Mozilla/5.0 (Windows NT 10.0; WOW64; rv:51.0) Gecko/20100101 Firefox/51.0"
                    },
                    "split_payment": [
                      {
                        "mercid": "BDMERCID1",
                        "amount": "3000.00"
                      },
                      {
                        "mercid": "BDMERCID2",
                        "amount": "1000.00"
                      }
                    ],
                    "mercid": "BDMERCID",
                    "orderid": "UAT1002202300001",
                    "amount": "4000.00",
                    "order_date": "2023-02-09T10:00:45+05:30",
                    "currency": "356",
                    "ru": "https://www.merchanturl.com/",
                    "itemcode": "DIRECT"
                  }
                },
                "Create order with Mandate ": {
                  "value": {
                    "mercid": "BDMERCID",
                    "orderid": "order45608988",
                    "amount": "300.00",
                    "order_date": "2024-01-30T10: 59: 15+05: 30",
                    "currency": "356",
                    "ru": "https://www.merchant.com/",
                    "additional_info": {
                      "additional_info1": "Details1",
                      "additional_info2": "Details2"
                    },
                    "mandate": {
                      "mercid": "BDMERCID",
                      "currency": "356",
                      "amount": "200.00",
                      "customer_refid": "cust9199028201",
                      "subscription_refid": "Sub92882992782701",
                      "subscription_desc": "Term insurance",
                      "start_date": "2024-02-11",
                      "end_date": "2025-12-04",
                      "frequency": "year",
                      "amount_type": "max",
                      "recurrence_rule": "after",
                      "debit_day": "1"
                    },
                    "mandate_required": "Y",
                    "itemcode": "DIRECT",
                    "device": {
                      "init_channel": "internet",
                      "ip": "123.0.0.1",
                      "user_agent": "Mozilla/5.0(WindowsNT10.0;WOW64;rv: 51.0)Gecko/20100101Firefox/51.0",
                      "accept_header": "text/html",
                      "browser_tz": "-330",
                      "browser_color_depth": "32",
                      "browser_java_enabled": "false",
                      "browser_screen_height": "601",
                      "browser_screen_width": "657",
                      "browser_language": "en-US",
                      "browser_javascript_enabled": "true"
                    }
                  }
                }
              }
            }
          },
          "description": ""
        }
      },
      "parameters": []
    },
    "/payments/ve1_2/orders/get": {
      "post": {
        "summary": "Retrieve Order",
        "operationId": "retrieveOrder",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "BD-Traceid": {
                "schema": {
                  "type": "string"
                },
                "description": "BD-TraceID is a unique identifier passed by the merchant to ensure request idempotency. Requests with identical BD-TraceID within a 24 hour window would fail."
              },
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "description": "Request Content-Type to take the values application/jose"
              },
              "Accept": {
                "schema": {
                  "type": "string"
                },
                "description": "Accept Response Content-Type to take the values application/jose"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "objectid": "transaction",
                      "transactionid": "X7890733918355",
                      "orderid": "TST01092022004",
                      "mercid": "BDMERCID",
                      "transaction_date": "2022-09-01T00:38:25+05:30",
                      "amount": "5.00",
                      "surcharge": "0.00",
                      "discount": "0.00",
                      "charge_amount": "5.00",
                      "currency": "356",
                      "additional_info": {
                        "additional_info1": "Details1",
                        "additional_info2": "Details2",
                        "additional_info3": "Details3",
                        "additional_info4": "Details4",
                        "additional_info5": "Details5",
                        "additional_info6": "Details6",
                        "additional_info7": "Details7",
                        "additional_info8": "Details8",
                        "additional_info9": "Details9",
                        "additional_info10": "Details10"
                      },
                      "txn_process_type": "collect",
                      "bankid": "789",
                      "itemcode": "DIRECT",
                      "bank_ref_no": "224457208022",
                      "auth_status": "0300",
                      "transaction_error_code": "TRS0000",
                      "transaction_error_desc": "Transaction Successful",
                      "transaction_error_type": "success",
                      "payment_method_type": "upi",
                      "refundInfo": [
                        {
                          "refundid": "X78907339183552",
                          "refund_amount": "3.00",
                          "currency": "356",
                          "refund_date": "2022-09-01T00:40:06+05:30",
                          "merc_refund_ref_no": "REFUNDREF0003",
                          "refund_status": "0799"
                        },
                        {
                          "refundid": "X78907339183551",
                          "refund_amount": "2.00",
                          "currency": "356",
                          "refund_date": "2022-09-01T00:40:00+05:30",
                          "merc_refund_ref_no": "REFUNDREF0002",
                          "refund_status": "0799"
                        }
                      ]
                    }
                  },
                  "properties": {
                    "objectid": {
                      "title": "objectid",
                      "x-stoplight": {
                        "id": "bbwm8bhhbqd4r"
                      },
                      "type": "string",
                      "description": "String representing the object's type. Objects of the same type share the same value. ",
                      "enum": [
                        "transaction",
                        "authentication",
                        "mandate",
                        "invoice",
                        "cardaccount",
                        "validatevpa",
                        "dispute",
                        "settlement",
                        "altid",
                        "mandate_token",
                        "accountvalidation",
                        "refund"
                      ]
                    },
                    "transactionid": {
                      "title": "transactionid",
                      "x-stoplight": {
                        "id": "uqizgn6tyoqhg"
                      },
                      "type": "string",
                      "description": "Unique transactionid created by BillDesk ",
                      "pattern": "^[A-Za-z0-9]{14,35}$",
                      "example": "U4560001099939"
                    },
                    "orderid": {
                      "title": "orderid",
                      "x-stoplight": {
                        "id": "lmwrwf7xn6wq8"
                      },
                      "type": "string",
                      "description": "Unique ID generated by the merchant for each request",
                      "pattern": "^[-/~A-Za-z0-9\\_ \\:.,#@!\\\\*\\\\+]{1,120}$",
                      "example": "TEST0000009005"
                    },
                    "mercid": {
                      "title": "mercid",
                      "x-stoplight": {
                        "id": "43ns25lu1fyuc"
                      },
                      "type": "string",
                      "pattern": "^[A-Za-z0-9]{1,10}$",
                      "example": "BDMERCID",
                      "description": "Unique identifier as defined by BillDesk for each merchant"
                    },
                    "transaction_date": {
                      "title": "transaction_date",
                      "x-stoplight": {
                        "id": "d0ekw0quxfwwu"
                      },
                      "type": "string",
                      "description": "BillDesk transaction date and time in YYYY-MM-DDThh:mm:ssTZD format",
                      "format": "date-time",
                      "example": "2023-03-14T15:14:39+05:30"
                    },
                    "amount": {
                      "title": "amount",
                      "x-stoplight": {
                        "id": "s5xd8bwxp2orm"
                      },
                      "type": "string",
                      "pattern": "^([1-9]{1}[0-9]{0,7}(\\.[0-9]{1,2})?)$",
                      "example": "299.28",
                      "description": "Transaction amount in two decimals, eg. 299.28"
                    },
                    "surcharge": {
                      "title": "surcharge",
                      "x-stoplight": {
                        "id": "u8bi4pr2xista"
                      },
                      "type": "string",
                      "description": "Customer surcharge in two decimals applied to the transaction amount, if any"
                    },
                    "discount": {
                      "title": "discount",
                      "x-stoplight": {
                        "id": "0dgp8etm5709j"
                      },
                      "type": "string",
                      "description": "Customer discount in two decimals applied to the transaction amount, if any"
                    },
                    "charge_amount": {
                      "title": "charge_amount",
                      "x-stoplight": {
                        "id": "m2z4sf48a8a5w"
                      },
                      "type": "string",
                      "description": "Total charge to the customer"
                    },
                    "currency": {
                      "title": "currency",
                      "x-stoplight": {
                        "id": "1ehjh4f7vidz7"
                      },
                      "type": "string",
                      "description": "ISO currency code of the transaction amount, for INR this value will be 356"
                    },
                    "txn_process_type": {
                      "title": "txn_process_type",
                      "x-stoplight": {
                        "id": "lyz1n731cb596"
                      },
                      "type": "string",
                      "description": "Indicates transaction processing type, will be the following values:\nAFA payment\n•\tcard - 3ds or y3ds or 3ds_redirect\n•\tupi – collect, qr or intent\n•\tnetbanking – nb\n•\teft - offline\nRecurring payment\n•\tcard, upi, bankaccount – si",
                      "example": "y3ds",
                      "enum": [
                        "y3ds",
                        "3ds",
                        "collect",
                        "intent",
                        "qr",
                        "nb",
                        "eft",
                        "si"
                      ]
                    },
                    "bankid": {
                      "title": "bankid",
                      "x-stoplight": {
                        "id": "gf7ntync4cj73"
                      },
                      "type": "string",
                      "description": "BillDesk defined unique identifier for acquirer\nMandatory for Upi and Netbanking flows",
                      "example": "1HM",
                      "pattern": "^[A-Za-z0-9]{1,10}$"
                    },
                    "itemcode": {
                      "title": "item code",
                      "x-stoplight": {
                        "id": "tz16mo44yvoae"
                      },
                      "type": "string",
                      "description": "Itemcode value as provided by BillDesk, with a default value DIRECT",
                      "example": "DIRECT",
                      "pattern": "^[A-Za-z0-9]{1,20}$"
                    },
                    "bank_ref_no": {
                      "title": "bank_ref_no",
                      "x-stoplight": {
                        "id": "tls0w5ung6eha"
                      },
                      "type": "string",
                      "description": "Transaction reference number generated by bank or acquirer "
                    },
                    "auth_status": {
                      "title": "auth_status",
                      "x-stoplight": {
                        "id": "35i21snltcrdq"
                      },
                      "type": "string",
                      "description": "Represents the authorization status of the transaction with the following possible values:\n•\t0300 - transaction is successful\n•\t0002 - transaction is pending for authorization\n•\t0399 - transaction failed",
                      "enum": [
                        "0300",
                        "0002",
                        "0399"
                      ]
                    },
                    "transaction_error_code": {
                      "title": "error_code",
                      "x-stoplight": {
                        "id": "2grhtze0qf6ob"
                      },
                      "type": "string",
                      "description": "Represents the error code for the response"
                    },
                    "transaction_error_desc": {
                      "title": "error_desc",
                      "x-stoplight": {
                        "id": "uyor3loffwtew"
                      },
                      "type": "string",
                      "description": "Represents the error description for the response"
                    },
                    "transaction_error_type": {
                      "title": "error_type",
                      "x-stoplight": {
                        "id": "snpogojwqc0aq"
                      },
                      "type": "string",
                      "description": "Represents the error type for the response"
                    },
                    "payment_method_type": {
                      "title": "payment_method_type",
                      "x-stoplight": {
                        "id": "kklghqguq1r3q"
                      },
                      "type": "string",
                      "description": "Represents the method of payment, and can take the following values - card, netbanking, wallet, upi, eft, bankaccount, cashcard, cardless (non-card emi option)\nThe associated object will also be provided in the request.",
                      "enum": [
                        "card",
                        "netbanking",
                        "upi",
                        "eft",
                        "cardless",
                        "bankaccount"
                      ]
                    },
                    "refundInfo": {
                      "type": "object",
                      "x-stoplight": {
                        "id": "0a9154jkzqr2x"
                      },
                      "properties": {
                        "refundInfo": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "refundid": {
                                "type": "string",
                                "description": "Unique id generated by BillDesk for the refund"
                              },
                              "refund_amount": {
                                "type": "string",
                                "description": "Refund amount in two decimals"
                              },
                              "currency": {
                                "title": "currency",
                                "x-stoplight": {
                                  "id": "1ehjh4f7vidz7"
                                },
                                "type": "string",
                                "description": "ISO currency code of the transaction amount, for INR this value will be 356"
                              },
                              "refund_date": {
                                "type": "string",
                                "description": "BillDesk refund date and time in YYYY-MM-DDThh:mm:ssTZD format"
                              },
                              "merc_refund_ref_no": {
                                "type": "string",
                                "description": "Unique reference number generated by the merchant for the refund request"
                              },
                              "refund_status": {
                                "type": "string",
                                "description": "Represents the refund status with the following values:\n•\t0799 – categorized as a refund, where the original transaction has been already settled \n•\t0699 – categorized as a cancellation, where the original transaction has not been settled\n"
                              }
                            }
                          }
                        }
                      },
                      "description": ""
                    },
                    "additional_info": {
                      "type": "object",
                      "x-examples": {
                        "Example 1": {
                          "additional_info": {
                            "additional_info1": "Details1",
                            "additional_info2": "Details2",
                            "additional_info3": "Details3",
                            "additional_info4": "Details4",
                            "additional_info5": "Details5",
                            "additional_info6": "Details6",
                            "additional_info7": "Details7",
                            "additional_info8": "Details8",
                            "additional_info9": "Details9",
                            "additional_info10": "Details10"
                          }
                        }
                      },
                      "description": "Array of 7 additional_info values that can be attached to\nthe transaction.\nNote: Merchant is advised to not pass customer PII\ninformation in additional info fields.",
                      "properties": {
                        "additional_info1": {
                          "type": "string",
                          "example": "Details1"
                        },
                        "additional_info2": {
                          "type": "string",
                          "example": "Details2"
                        },
                        "additional_info3": {
                          "type": "string",
                          "example": "Details3"
                        },
                        "additional_info4": {
                          "type": "string",
                          "example": "Details4"
                        },
                        "additional_info5": {
                          "type": "string",
                          "example": "Details5"
                        },
                        "additional_info6": {
                          "type": "string",
                          "example": "Details6"
                        },
                        "additional_info7": {
                          "type": "string",
                          "example": "Details7"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "objectid": "transaction",
                      "transactionid": "U4560001099939",
                      "orderid": "TEST0000009005",
                      "mercid": "BDMERCID",
                      "transaction_date": "2023-03-14T15:14:39+05:30",
                      "amount": "299.28",
                      "surcharge": "0.00",
                      "discount": "0.00",
                      "charge_amount": "299.28",
                      "currency": "356",
                      "txn_process_type": "y3ds",
                      "bankid": "1HM",
                      "itemcode": "DIRECT",
                      "bank_ref_no": "string",
                      "auth_status": "0300",
                      "transaction_error_code": "TRP0000",
                      "transaction_error_desc": "Transaction Pending",
                      "transaction_error_type": "pending",
                      "payment_method_type": "card"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Merchant can retrieve the transaction either by using mercid and orderid or transactionid",
        "parameters": [
          {
            "in": "header",
            "name": "BD-Traceid",
            "description": "BD-TraceID is a unique identifier passed by the merchant to ensure request idempotency. Requests with identical BD-TraceID within a 24 hour window would fail.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "20201203182838"
            }
          },
          {
            "in": "header",
            "name": "BD-Timestamp",
            "description": "Request timestamp to identify date and time of origin of request. Example, a value of BD-Timestamp 20210113180403 identifies the request to have originated on 13th January 2021 at 06:04:03 PM.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "20201203182838"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "description": "Request Content-Type to take the values application/jose"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "application/jose"
            },
            "description": "Accept Response Content-Type to take the values application/jose"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "orderid": "TST01092022004",
                    "mercid": "BDMERCID",
                    "refund_details": "true"
                  }
                },
                "properties": {
                  "orderid": {
                    "title": "orderid",
                    "x-stoplight": {
                      "id": "lmwrwf7xn6wq8"
                    },
                    "type": "string",
                    "description": "Unique ID generated by the merchant for each request",
                    "pattern": "^[-/~A-Za-z0-9\\_ \\:.,#@!\\\\*\\\\+]{1,120}$",
                    "example": "TEST0000009005"
                  },
                  "mercid": {
                    "title": "mercid",
                    "x-stoplight": {
                      "id": "43ns25lu1fyuc"
                    },
                    "type": "string",
                    "pattern": "^[A-Za-z0-9]{1,10}$",
                    "example": "BDMERCID",
                    "description": "Unique identifier as defined by BillDesk for each merchant"
                  },
                  "transactionid": {
                    "title": "transactionid",
                    "x-stoplight": {
                      "id": "uqizgn6tyoqhg"
                    },
                    "type": "string",
                    "description": "Unique transactionid created by BillDesk ",
                    "pattern": "^[A-Za-z0-9]{14,35}$",
                    "example": "U4560001099939"
                  },
                  "refund_details": {
                    "type": "string",
                    "description": "Refund information associated with the payment transaction. Merchants should pass this attribute in the request to ensure that the refund details [an array is returned if multiple partial refunds exist] are received in the response.\n\n⦁\ttrue for getting the refund details associated with the payment transaction.\n⦁\tfalse if refund details associated with the payment transaction is not required in the response.",
                    "enum": [
                      "true",
                      "false"
                    ]
                  }
                },
                "required": [
                  "mercid"
                ]
              },
              "examples": {
                "With refund details": {
                  "value": {
                    "orderid": "TEST0000009005",
                    "mercid": "BDMERCID",
                    "transactionid": "U4560001099939",
                    "refund_details": "true"
                  }
                },
                "Without refund details": {
                  "value": {
                    "orderid": "TEST0000009005",
                    "mercid": "BDMERCID",
                    "transactionid": "U4560001099939"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Order"
        ]
      }
    },
    "/pgsi/ve1_2/mandatetokens/create": {
      "post": {
        "summary": "Create Mandate Token",
        "operationId": "createMandateToken",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "objectid": "mandate_token",
                      "mandate_tokenid": "NA12BF00383201",
                      "mercid": "BDMONITOR",
                      "customer_refid": "cust980823jkdyr9d912",
                      "subscription_refid": "Sub98nmf0uh9f912",
                      "subscription_desc": "9800000d1112",
                      "start_date": "2023-12-29",
                      "end_date": "2029-12-04",
                      "amount": "2.00",
                      "amount_type": "max",
                      "currency": "356",
                      "frequency": "year",
                      "createdon": "2023-11-21T15:50:31+05:30",
                      "ru": "https://www.billdesk.com/web/",
                      "additional_info": {
                        "additional_info1": "Details1",
                        "additional_info2": "Details2",
                        "additional_info3": "123456789"
                      },
                      "customer": {
                        "first_name": "John",
                        "last_name": "Doe",
                        "email": "john.doe@somedomain.com",
                        "email_alt": "john.doe@somedomain.com",
                        "mobile": "9800000000",
                        "mobile_alt": "9800000000"
[...]
